<mat-toolbar class="header" >
  <mat-toolbar-row>
      <mat-icon aria-hidden="false" aria-label="Example home icon">Book</mat-icon>
      <span routerLink="../dashboard" style="cursor: grab;">bookstore</span>
      <span [formGroup]="header" class="input-feild">
        <div class="search">
          <span class="fa fa-search"></span>
          <input placeholder="Search">
        </div>
      </span>
      <span class="example-spacer"></span>
      <button mat-icon-button #tooltip="matTooltip" matTooltip="wishlist">
        <mat-icon matBadge="{{list}}" matBadgeColor="warn" routerLink="list">favorite_border</mat-icon>
      </button>
      <button mat-icon-button #tooltip="matTooltip" matTooltip="cart" class="bag">
      <mat-icon matBadge="{{bag}}" matBadgeColor="warn" routerLink="../cart" >shopping_cart</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>