.main{
    text-align: center;
    padding: 10px 0;
}
.center {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    max-height: 250px;
    max-width: 250px;
    width: 250px;
    height: 200px;
  }

  .text{
    justify-content: center;
    font-size: 16px;
    
  }

  .mat-card{
      display: inline-block;
      width: 300px;
  }

  table{
    margin-left: auto;
    margin-right: auto;
    border: blue;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0;
}

button{
  background-color: #3271b4;
  color:white;
  margin-top: 10px;

}


.table {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  width:100%;
  border-collapse:collapse;
  border-spacing:0 15px;
  min-width:800px;
  border:1px solid #dbd8d8;
}
th{
background:white 0% 0% no-repeat padding-box;
border-radius: 3px 3px 0px 0px;
text-align:center;
font: normal normal medium 18px Roboto;
letter-spacing: 0px;
color:rgb(2, 1, 1);
text-transform:uppercase;
opacity:1;

}

td{
  padding: 5px 8px; 
  border:1px solid #dbd8d8;
}

.text{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}