<app-header></app-header>
<div class="main">
    <img src="../../../assets/images/order.png" class="center">
    <p class="text">Hurray!!! Your order is confirmed.The order id is #123456.Save order id 
        for further communication</p>
        <table style="width:60%" class="table">
            <tr style="height:50px">
              <th>email us</th>
              <th>contact us</th>
              <th>address</th>
            </tr>
            <tr style="height: 50px;">
              <td>admin@bookstore.com</td>
              <td>91 8712334477</td>
              <td>
                42,14th main,14th cross road opposite kumarakom
                resturant,Banglore,Karnataka
              </td>
            </tr>
        </table>
</div>