.main {
  display: inline-grid;
  padding: 10px;
}
.grid-item {
  max-width: 275px;
  width: auto;
  display: grid;
  border: 0.7px solid rgba(0, 0, 0, 0.24);
}
mat-card-title {
  white-space: nowrap;
  width: 235px;
  height: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}
img {
  width: 100px;
  height: 150px;
  margin-top: 10px;
  padding: 2px;
  margin-bottom: 0;
  margin-left: 30%;
}
.mat-card-image:first-child {
  margin-top: 0;
}
.cover {
  background-color: rgba(128, 128, 128, 0.534);
}
.mat-card {
  padding: 0;
}
.details {
  padding: 16px;
}
mat-card-content {
  padding: 16px;
}
.toolbar {
  flex: 1 1 auto;
}
@media screen and (min-width: 992px) {
  .mainbody {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
}
.title {
  padding-top: 30px;
  font-size: x-large;
}

.card{
    width:240px;
    padding: 10px;
    margin: 10px;
}


.flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.but{
  background-color: #8f2b2f;
  width: 100px;

}

.buttn{
  background-color: blue;
  width: 100px;

}

.butt{
  display: flex;
  justify-content: space-around;
}