<app-headers title="BOOK STORE"></app-headers>
<div fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="5%">
    <div class="main" fxLayoutAlign="center center" fxFlex="100" fxFlexOffset.xs="0" fxFlex.xs="100">
        <mat-card fxFlex.xs="100" fxFlex.md="70" fxFlex.lg="30">
            <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
                <mat-card-content>
                    <mat-card-subtitle>LOGIN</mat-card-subtitle>
                    <span>To Continue With Book Store</span>
                    <div fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
                        <div>
                            <mat-form-field [style.fontSize.px]="12" appearance="outline" fxFlex="100" fxFlex.xs="100">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" placeholder="Email" formControlName="email" id="email">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                            </mat-form-field>
                        </div>
 
                        <div>
                            <mat-form-field [style.fontSize.px]="12" appearance="outline" fxFlex="100" fxFlex.xs="100">
                                <mat-label>Password</mat-label>
                                <input matInput type="text" placeholder="Password" formControlName="password"
                                    id="password" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
 
                    <div class="bottom">
                        <div>
                            <p> <a routerLink="../register">CreateAccount</a></p>
                            <a routerLink="../forgotPassword">Forget Password?</a>
                        </div>
                        <div >
                            <button class="butn" mat-raised-button  [disabled]="!loginForm.valid">login</button>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
 </div>