<app-header></app-header>
<mat-accordion>
    <div>
        <mat-expansion-panel hideToggle class="center">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    My cart
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <div style="display: flex;">
                    <span>
                        <img src="../../../assets/images//hp.jpg" class="image">
                    </span>
                    <span class="position">
                        <mat-card-title>Harry Potter </mat-card-title>
                        <mat-card-subtitle><br>By J.K.Rowling</mat-card-subtitle>
                        <mat-card-content><br>2500<br></mat-card-content>
                        <button mat-icon-button>
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        2500
                        <button mat-icon-button>
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button mat-stroked-button>
                            Remove
                        </button>
                    </span>
                </div>
            </div>
            <mat-action-row>
                <button mat-button color="primary" ></button>
            </mat-action-row>

        </mat-expansion-panel>
    </div>
</mat-accordion>