.position{
    position: absolute;
    left: 120px;
    width: 200px;
}

.image{
    height:120px
}

.mat-expansion-panel{
    display: inline-block;
    width: 900px;
    justify-content: center;
}


.header {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .form-div {
    margin-bottom: none;
    display: flex;
  }
  .main {
    text-align: -webkit-center;
  }
  .mat-div{
      width:600px;
      margin-right: auto;
  }
  .mat-expansion-panel {
    width: 800px;
    border: 1px solid rgb(126, 120, 120);
  }
  .mat-form-field {
    margin-right: 10px;
  }
  .address-div{
      text-align: initial;
  }
  .address-field{
      width: 410px;
  }
  .mat-radio{
    display: flex;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-accordion{
      padding: 10px;
  } 